//
   Created by apple on 15/3/11.

doctype html
html
    head
        block head
            meta(name="renderer" content="webkit")
            meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0")
            title= title
            link(rel='stylesheet', href='/stylesheets/bootstrap.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')

            //link(rel='stylesheet', href='/stylesheets/flat/flat-ui.css')
            link(rel='stylesheet', href='/stylesheets/boot-style.css')

            script(src='/javascripts/jquery-1.11.1.js')
            script(src='/javascripts/bootstrap.min.js')
            //script(src='/javascripts/flat/flat-ui.js')
    body
        block content
