body {
    padding: 0px;
    font: 12px/1.5 'Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif,'Liberation Sans',FreeSans,'Hiragino Sans GB';
}


.toolbar{
    padding: 15px 0;

    /* background-color: #f5f5f5; */
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}
a {
    color: #000;
    cursor: pointer;
}

a:hover{color:#23527c;text-decoration:none;}

.table-span{
    padding:0 6px;
}

/* 点餐页面 */
.order{
    margin-top: 20px;
}
.ordertype{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

img{
    width: 80px;
    height: 80px;
}


#footer {
    background-color:#369;
    z-index:999;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    _position:absolute;
    overflow:visible;
    height: 50px;
    margin: 0;
}


/* bootstrap */
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1,
.col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
    padding-left: 10px;
    padding-right: 10px;
}


.row{
    margin-right:-10px;
    margin-left: -10px;
}

.list-group-item{padding: 10px 10px;}

/* windows phone 8 */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


.product-list{
    margin: 0;
    border-bottom: 1px solid #ddd;
    background-color: #f6f6f6;
    cursor:pointer;
}

.product-list:hover{
    margin: 0;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    cursor:pointer;
}

.product-minus, .product-plus {
    cursor: pointer;
}

.product-minus:hover,.product-plus:hover {
    cursor: pointer;
}

.category-menu{
    padding-top: 10px;
    border-right: 1px solid #ddd;
}

.category-menu-right{
    padding-top: 10px;
}
